
.wrap {
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.welcome {
    font-size: 46px;
    margin: 0;
}

.mood-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
