
.wrap {
    color: var(--fourth-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px 0;
}

.mood-list {
    display: flex;
    flex-wrap: wrap;
}
.welcome {
    font-size: 46px;

}
