
@import '../../styles/variables.css';

.card {
    border: 4px solid var(--third-color);
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    min-width: fit-content;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.icon {
    color: var(--third-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    color: var(--fourth-color);
    margin: 4px;
}