
@import '../../styles/variables.css';

.card {
    border: 1px solid var(--third-color);
    background-color: var(--third-color);
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--fourth-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon {
    align-self: center;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.desktop {
    margin: 8px;
    color: var(--first-color);
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

.file {
    display: none;
}

.file-label {
    padding: 8px;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 4px;
    height: fit-content;
    margin: 4px;
}

.file-label:hover {
    cursor: pointer;
    background-color: var(--first-color);
}

.btn-wrap {
    display: flex;
    justify-content: center;
}